<div class="card">
  <div class="card-header row d-flex justify-content-center" style="background:#fff ">
    <div class="col-sm-3 align-self-center m-3">
      <img alt="" class="img-fluid" src="../assets/images/logo.jpg">
    </div>
  </div>
  <div class="card card-block d-flex" style="background: #F0F0F0">
    <div class="card-body d-flex justify-content-center">
      <form #clienteForm="ngForm" autocomplete="off">
        <div class="form-group col-sm col align-self-center text-center ">
          Inicio de sesión
        </div>
        <div class="conteiner-login form-group col-sm">
          <mat-form-field>
            <input #usernameLogin="ngModel" [(ngModel)]="user.username" id="username" matInput name="usernameLogin"
                   pattern="{{validatorService.mailRegex}}" placeholder="Ingresa tu usuario" required>
            <mat-error
              *ngIf="usernameLogin.invalid && (usernameLogin.dirty || usernameLogin.touched)">{{getErrorMessageEmail(usernameLogin)}}</mat-error>
          </mat-form-field>
        </div>
        <div class="conteiner-login form-group col-sm">
          <mat-form-field>
            <input #passwordLogin="ngModel" [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'" id="password" matInput minlength="5"
                   name="passwordLogin" placeholder="Ingresa tu contraseña" required>
            <mat-error
              *ngIf="passwordLogin.invalid && (passwordLogin.dirty || passwordLogin.touched)">{{getErrorMessagePassword(passwordLogin)}}</mat-error>
            <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide"
                    mat-icon-button matSuffix>
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

            </button>
          </mat-form-field>
        </div>
        <div class="form-group col-sm text-center mb-4 mt-3">
          <input (click)="login()" [disabled]="!clienteForm.form.valid" class="btn btn-lg btn-primary btn-block" id="btn-login"
                 type="submit" value="Ingresar">
        </div>
       <!-- <div class="form-group col-sm text-center">
          <a href="#">He olvidado mi contraseña</a>
        </div>-->
      </form>
    </div>
  </div>
</div>


<!--para redondear rounded-pill-->
